@using Microsoft.AspNetCore.Identity
@using UDeal.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-dark" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
          New Post
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item text-dark" asp-area="" asp-page="/Posts/Create" asp-route-type="0">I am Selling</a>
            <a class="dropdown-item text-dark" asp-area="" asp-page="/Posts/Create" asp-route-type="1">I am Looking</a>
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-dark" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
          Manage
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a  class="dropdown-item text-dark" asp-area="" asp-page="/Posts/Index">My Posts</a>
            <a  class="dropdown-item text-dark" asp-area="" asp-page="/Posts/Favourites">My Favourites</a>

            <a  class="dropdown-item text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Identity">My Account</a>
            @if (User.IsInRole("Admin"))
            {
                <div class="dropdown-divider"></div>
                <a  class="dropdown-item text-dark" asp-area="" asp-page="/Manage/Schools/Index" title="Manage">All Schools</a>
                <a  class="dropdown-item text-dark" asp-area="" asp-page="/Manage/Campuses/Index" title="Manage">All Campuses</a>
            }
            
        </div>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" >
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
