@page
@using UDeal.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="d-flex flex-wrap">
    @if (!string.IsNullOrEmpty(Model.Search)) {
        <h3>Search results for: '@Model.Search'</h3>
    }
    <div class="row input-group">
        <div class="col form-group">
                <label>Category</label>
                <select class="form-control" asp-items="ViewBag.CategoryId">
                    <option selected>All Categories</option>
                </select>
            </div>
            <div class="col form-group">
                <label>Filter By</label>
                <select class="form-control"></select>
            </div>
    </div>
    @foreach (Post p in Model.Posts)
    {
        <div class="card" style="width: 18rem; margin: 10px;">
            <img src="@(Model.Images.Where(i => i.PostId == p.Id).Any() ? "/images/" + Model.Images.Where(i => i.PostId == p.Id).First().Name : "https://via.placeholder.com/300")" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@p.Title</h5>
                @if (p.Type == PostType.Selling)
                {
                    if (p.Price != null)
                    {
                        <p class="card-text">$@p.Price</p>
                    }
                    else
                    {
                        <p class="card-text">FREE</p>
                    }
                }
                else if (p.MinPrice != null && p.MaxPrice != null)
                {
                    <p class="card-text">$@p.MinPrice - $p.MaxPrice</p>
                }
                
                <a class="btn btn-primary" asp-page="/Posts/Details" asp-route-id="@p.Id">Details</a>
            </div>
        </div>
    }
</div>
