@page
@using UDeal.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="d-flex flex-wrap">
    <div class="row input-group">
        <div class="col form-group">
                <label>Category</label>
                <select class="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="col form-group">
                <label>Filter By</label>
                <select class="form-control"></select>
            </div>
    </div>
    @foreach (Post p in Model.Posts)
    {
        <div class="card" style="width: 18rem; margin: 10px;">
            <img src="images/350x150.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@p.Title</h5>
                <p class="card-text">$@p.Price</p>
                <a class="btn btn-primary" asp-page="/Posts/Details" asp-route-id="@p.Id">Details</a>
            </div>
        </div>
    }
</div>
