@page
@model UDeal.Pages.Posts.CreateModel
@using UDeal.Models


@{
    ViewData["Title"] = "Create Post";
}

<h1>Create</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Post.Type" value="@ViewBag.Type" />

            <div class="form-group custom-file">
                <label asp-for="Photo" class="custom-file-label"></label>
                <input type="file" asp-for="Photo" name="Photo" class="custom-file-input form-control" accept="image/*"/>
            </div>

            <div class="form-group">
                <label asp-for="Post.Title" class="control-label"></label>
                <input asp-for="Post.Title" class="form-control" required/>
                <span asp-validation-for="Post.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.Description" class="control-label"></label>
                <textarea asp-for="Post.Description" class="form-control" ></textarea>

                <span asp-validation-for="Post.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.Quantity" class="control-label"></label>
                <input asp-for="Post.Quantity" class="form-control" min="1" />
                <span asp-validation-for="Post.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.Condition" class="control-label"></label>
                <select asp-for="Post.Condition" class="form-control" asp-items="Html.GetEnumSelectList<Condition>()"></select>
                <span asp-validation-for="Post.Condition" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Post.CategoryId" class="control-label">Category</label>
                <select asp-for="Post.CategoryId" class ="form-control" asp-items="ViewBag.CategoryId" required>
                    <option disabled selected value="-1">None</option>
                </select>
                <span asp-validation-for="Post.CategoryId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CourseName" class="control-label">Course</label>
                <input asp-for="CourseName" class="form-control" type="search" list="school-courses" />
                @*<span asp-validation-for="Post.CourseId" class="text-danger"></span>*@
                @if (ViewBag.SchoolCourse != null)
                {
                     <datalist id="school-courses">
                        @foreach(Course c in ViewBag.SchoolCourses)
                        {
                            <option value="@c.Name"></option>
                        }
                    </datalist>
                }
            </div>

            <div class="form-group">
                <label asp-for="Post.Campus" class="control-label">Campus</label>
                <select asp-for="Post.CampusId" class ="form-control" asp-items="ViewBag.SchoolCampuses" required></select>
                <span asp-validation-for="Post.CampusId" class="text-danger"></span>
            </div>

            @if (ViewBag.Type == 0)
            {
                <div class="form-group">
                    <label asp-for="Post.Price" class="control-label"></label>
                    <input asp-for="Post.Price" class="form-control" placeholder="Leave blank if free" />
                    <span asp-validation-for="Post.Price" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label asp-for="Post.MinPrice" class="control-label">Minimum Price</label>
                    <input asp-for="Post.MinPrice" class="form-control" />
                    <span asp-validation-for="Post.MinPrice" class="text-danger"></span>
                </div>
                <div class="form-group">

                    <label asp-for="Post.MaxPrice" class="control-label">Maximum Price</label>
                    <input asp-for="Post.MaxPrice" class="form-control" />
                    <span asp-validation-for="Post.MaxPrice" class="text-danger"></span>
                </div>
            }
            
            <input type="hidden" asp-for="Post.UserId" value="@ViewBag.UserId" />
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
